name: release

on:
  push:
    tags: [ '*' ]

jobs:
  package:
    runs-on: ubuntu-20.04
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build
        run: make image.build
      
      - name: Login to CR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package
        run: make image.push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set tag
        run: echo "::set-output name=VERSION_TAG::$(git describe --dirty --always --tags | sed 's/-/./2' | sed 's/-/./2' )"
        id: tagger

      - name: Replace Version in xpkg manifest
        run: sed -i 's/VERSION/${{ steps.tagger.outputs.VERSION_TAG }}/g' package/crossplane.yaml
      
      - name: Build xpkg
        uses: crossplane-contrib/xpkg-action@master
        with:
          channel: ${{ github.event.inputs.channel }}
          version: ${{ github.event.inputs.version }}
          command: build provider -f package --name=crossplane-${{ github.event.repository.name }}
        
      - name: Push xpkg
        uses: crossplane-contrib/xpkg-action@master
        with:
          command: push provider -f package/crossplane-${{ github.event.repository.name }}.xpkg ghcr.io/${{ github.event.repository.owner.name }}/crossplane-${{ github.event.repository.name }}:${{ steps.tagger.outputs.VERSION_TAG }}